.card {
    border: 2px blue solid;
    height: 300px;
    width: 200px;
    margin: 50px;
    padding: 20px;
}

#bookCards {
    display: flex;
    flex-wrap: wrap;
}

.card-lower {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
}

.card-title {
    font-size: 34px;
    text-align: center;
}

.card-author {
    font-size: 22px;
    text-align: right;
}

.card-total-pages {
    font-size: 16px;
    text-align: left;
}

.card-read-status {
    font-size: 16px;
    text-align: right;
}