.card {
    border: 2px blue solid;
    height: 300px;
    width: 200px;
    margin: 50px;
    padding: 20px;
}

#bookCards {
    display: flex;
    flex-wrap: wrap;
}

.card-lower {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
}

.card-title {
    font-size: 34px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: rgb(141, 92, 0);
}

.card-author {
    font-size: 18px;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(102, 102, 223);
}

.card-total-pages {
    font-size: 16px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 150, 155);
}

.card-read-status {
    font-size: 16px;
    text-align: right;
}